<div>
  <form action="" class="p-2">
    <div>
      <label for="">Tipo de electrodomestico</label>

      <select class="form-select" name="options" id="typeHouseholdA">
        <option value="BASIC">Comun</option>
        <option value="TV">Televisor</option>
        <option value="FRIDGE">Nevera</option>
      </select>
    </div>
    <div>
      <label for="">Consumo</label>
      <select class="form-select" name="options" id="speding">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
    </div>
    <div>
      <label for="">Origen</label>

      <select class="form-select" name="options" id="origin">
        <option value="NATIONAL">Nacional</option>
        <option value="IMPORTED">Importado</option>
      </select>
    </div>
    <div>
      <label for="">cantidad</label>
      <input class="form-control" type="number" id="countHouseHoldA" />
    </div>
    <div id="divTv"></div>
    <div id="divFridge"></div>
    <div>
      <button class="btn btn-primary m-2" type="button" id="sendData">
        Insertar en la base de datos
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-info m-2" id="addCart">
        agregar al carrito
      </button>
    </div>
    <div>
      <button class="btn btn-success m-2" type="button" id="createBill">
        Factura
      </button>
    </div>
  </form>
</div>
